<div class="header">
  <h2>Books</h2>
</div>
<div class="main2">
<table>
  <thead>
    <tr>
      <td class="book-table"><b>Title</b></td>
      <td class="book-table"><b>Body</b></td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><a><%= link_to "Show", book_path(book.id) %></a></td>
        <td><a><%= link_to "Edit", edit_book_path(book.id) %></a></td>
        <td><a><%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></a></td>
      </tr>
    <% end %>
  </tbody>
</table></div>



<h2>New book</h2>
<%= form_tag("/books", method: "post", class: "new_book", id: "new_book", accept_charset: "UTF-8") do %>
 

  Title
  <%= text_field_tag("book[title]") %>

  <h5>Body</h5>
  <%= text_area_tag("book[body]") %>

  <%= submit_tag("Create Book") %>
<% end %>
