<div class="main2"><div>
  <%= flash[:notice] %>
</div>
<p><b>Title:</b><%= @book.title %></p>
<p><b>Body:</b><%= @book.body %></p>
<a>
<%= link_to "Edit", edit_book_path(@book.id) %>
|<%= link_to "Back", books_path %></a></main>